<div class="flex h-screen">
  <div class="w-[50%]">
    <!-- Reactive Form for Adding/Editing Category -->
    <form (ngSubmit)="onFormSubmit()" [formGroup]="categoryForm">
      <h1>{{ selectedCategory ? 'Edit Category' : 'Add Category' }}</h1>
      <div class="mt-2">
        <label for="name" class="font-bold">Name</label>
        <input type="text"
               class="w-full p-2 border-2 rounded-sm mt-2"
               formControlName="name"
               placeholder="Enter category name" />
      </div>
      <div class="mt-2">
        <button type="submit"
                class="bg-slate-800 text-white px-4 py-2 rounded-sm w-full">
          {{ selectedCategory ? 'Update' : 'Add' }}
        </button>
      </div>

      <!-- Cancel Edit button (shown only when editing) -->
      <div class="mt-2" *ngIf="selectedCategory">
        <button type="button" (click)="resetForm()" class="bg-red-500 text-white px-4 py-2 rounded-sm w-full">
          Cancel Edit
        </button>
      </div>
    </form>
  </div>

  <div class="overflow-auto w-[50%]">
    <!-- Categories list -->
    <div *ngIf="categories$ | async as categories; else noCategories">
      <ul *ngIf="categories.length > 0; else noCategoriesFound">
        <li *ngFor="let item of categories" class="p-2 bg-slate-100 border-b-2 border-slate-200">
          <p>
            {{ item.name }}
            <!-- Edit button -->
            <button class="bg-slate-50 text-dark py-2 px-4 rounded-sm"
                    type="button"
                    (click)="onEdit(item)">
              <mat-icon>edit_note</mat-icon>
            </button>
            <!-- Delete button -->
            <button class="bg-slate-50 text-dark py-2 px-4 rounded-sm ml-2"
                    type="button"
                    (click)="onDelete(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </p>
        </li>
      </ul>
    </div>

    <!-- Fallback for when there are no categories -->
    <ng-template #noCategories>
      <p>Loading categories...</p>
    </ng-template>

    <!-- Fallback for when categories are empty -->
    <ng-template #noCategoriesFound>
      <p>No categories found</p>
    </ng-template>
  </div>
</div>
